{{> /include/header}}
<div class="container">
    <h1>Prochains Événements</h1>
    <ul>
        {{#upcomingEvents}}
        <li>
            <h2>{{description}}</h2>
            <p>Date: {{prettyDateEvent}}</p>

            {{#isTeamEvent}}
            <p>Match entre: {{team1.name}} et {{team2.name}}</p>
            {{/isTeamEvent}}

            {{^isTeamEvent}}
            <p>Événement individuel</p>
            {{/isTeamEvent}}
        </li>
        {{/upcomingEvents}}
    </ul>
</div>
{{> /include/footer}}