{{> include/header}}

<div class="container">

    <form method="get" id="search-form" action="athlete/recherche" class="mb-4">
        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}" />
        <div class="input-group">
            <label for="athlete-search" class="visually-hidden">Rechercher un Athlète</label>
            <input type="search" id="athlete-search" name="nomAthlete" class="form-control" placeholder="Rechercher un Athlète" />
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i> Rechercher
            </button>
        </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#athleteList}}
        <tr>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>
                <a href="/gestion/athlete/modifierunathlete/{{id}}" class="btn btn-warning">
                    <i class="fas fa-pencil-alt"></i> Modifier
                </a>
                <a href="/athlete/ficheathlete/{{id}}" class="btn btn-info">
                    <i class="fas fa-user"></i> Info
                </a>
            </td>
        </tr>
        {{/athleteList}}
        </tbody>
    </table>
</div>

{{> include/footer}}
