{{> /include/header }}
<div class="container">
  <a href="/portefeuille" class="btn btn-primary">Portefeuille</a>
<h1>Toutes les opérations</h1>
  <button onclick="filterOperations('all')" class="btn btn-primary" >Toutes</button>
  <button onclick="filterOperations('deposit')" class="btn btn-primary">Dépôts</button>
  <button onclick="filterOperations('withdrawal')" class="btn btn-primary">Retraits</button>

  <table class="table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Type</th>
    <th>Montant</th>
  </tr>
  </thead>
  <tbody>
  {{#allOperations}}
  <tr class="operation-row {{#isDeposit}}deposit{{/isDeposit}}{{#isWithdrawal}}withdrawal{{/isWithdrawal}}">
    <td title="{{formattedTime}}"><span class="tooltiptext">{{formattedDate}}</span></td>
    <td>{{TranslatedType}}</td>
    <td>{{getFormattedAmount}}</td>
  </tr>
  {{/allOperations}}
  </tbody>
</table>
</div>
{{> /include/footer}}

<script>
  function filterOperations(type) {
    var rows = document.querySelectorAll('tr.operation-row');
    rows.forEach(function(row) {
      row.style.display = '';
      if (type === 'deposit' && !row.classList.contains('deposit')) {
        row.style.display = 'none';
      } else if (type === 'withdrawal' && !row.classList.contains('withdrawal')) {
        row.style.display = 'none';
      }
    });
  }
</script>

