

.titre-vert{
    color:#557A46;
}
.titre-gris{
    color: #6E6E6E;
}
#jouerRisque{
    width: 100%;
    text-align: center;
    background-color: white;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}
.bg-color{
    background-color: #F2EE9D;
}
.aJouerRisque{
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: #6E6E6E;
    text-transform: uppercase;
    font-weight: bold;

}
#appelNS{
    font-size: 70%;
}
.b-0 {
    bottom: 0;
}
.bg-shadow {
    background: rgba(76, 76, 76, 0);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
    background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
.top-indicator {
    right: 0;
    top: 1rem;
    bottom: inherit;
    left: inherit;
    margin-right: 1rem;
}
.overflow {
    position: relative;
    overflow: hidden;
}
.zoom img {
    transition: all 0.2s linear;
}
.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.message {
    color: white;
    border-radius: 4px;
    padding: 8px;
    display: none;
    margin-top: 10px;
}
.message.error {
    background-color: #db4764;
    display: block;
}
.message.valid {
    background-color: green;
    display: block;
}
.card-img-top {
    object-fit: cover; /* La propriété qui effectue la coupe centrée */
    height: 200px; /* Hauteur souhaitée pour toutes les images */
    width: 100%; /* Pour s'assurer que la largeur s'adapte à la taille du conteneur parent */
}
.card {
    transition: transform 0.3s; /* Ajoute une transition pour un effet plus fluide */
}

.card:hover {
    transform: scale(1.05); /* Augmente légèrement la taille lors du survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre lors du survol */
}

.card-img-top {
    object-fit: cover;
    height: 200px;
    width: 100%;
}