{{> include/header}}

<div class="container">
    <h1 class="titre-gris mb-4">Norman<span class="titre-vert">BET</span></h1>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <p class="card-text">{{article.content}}</p>
                    <p class="card-text"><small class="text-muted">{{article.getRelativeFormattedDate}}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

{{> include/footer}}
