{{> include/header}}

<div class="container">
    <h2>Liste des Épreuves</h2>
    <table>
        <tr>
            <th>Nom</th>
            <th>Type</th>
            <th>Sport</th>
            <th>Actions</th>
        </tr>
        {{#disciplineList}}
        <tr>
            <td>{{name}}</td>
            <td>{{type}}</td>
            <td>{{sport.name}}</td>
            <td>
                <a href="/epreuves/edit/{{id}}">Éditer</a>
                <a href="/epreuves/delete/{{id}}">Supprimer</a>
            </td>

        </tr>
        {{/disciplineList}}
    </table>
    <h2>Ajouter une Épreuve</h2>
    <form action="/epreuves/add" method="post">
        <label for="name">Nom:</label>
        <input type="text" id="name" name="name">
        <label for="type">Type:</label>
        <input type="text" id="type" name="type">
        <label for="sport">Sport:</label>
        <input type="text" id="sport" name="sport">
        <input type="submit" value="Ajouter">
    </form>
    {{#disciplineedit}}
    <form action="/epreuves/edit/{{id}}" method="post">
        <label for="name">Nom:</label>
        <input type="text" name="name" value="{{name}}">
        <label for="type">Type:</label>
        <input type="text" name="type" value="{{type}}">
        <label for="sport">Sport:</label>
        <input type="text" name="sport" value="{{sport.id}}">
        <input type="submit" value="Mettre à jour">
    </form>
    {{/disciplineedit}}
</div>

{{> include/footer}}
