{{> include/header}}

<h1>Mise à jour du Sport</h1>
<form action="/sports/update/{{sport.id}}" method="post">
    <label for="name">Nom :</label>
    <input type="text" id="name" name="name" value="{{sport.name}}" placeholder="Nom du sport">

    <label for="description">Description :</label>
    <textarea id="description" name="description" placeholder="Description du sport">{{sport.description}}</textarea>

    <label for="individual">Individuel :</label>
    <input type="checkbox" id="individual" name="individual" {{#sport.individual}}checked{{/sport.individual}}>

    <label for="collective">Collectif :</label>
    <input type="checkbox" id="collective" name="collective" {{#sport.collective}}checked{{/sport.collective}}>

    <label for="sizeTeam">Taille de l'équipe :</label>
    <input type="number" id="sizeTeam" name="sizeTeam" value="{{sport.sizeTeam}}" placeholder="Taille de l'équipe">

    <button type="submit">Mettre à jour</button>
</form>

{{> include/footer}}
