{{> /include/header}}
<div class="container">
    <h1><span class="titre-gris">Reche</span><span class="titre-vert">rcher</span></h1>


    <form action="/rechercheSportsAthletes" method="GET">
        <label for="search">Recherche :</label>
        <input type="text" id="search" name="q" placeholder="Rechercher...">
        <button type="submit">Rechercher</button>
    </form>

<table>
    <h2>Athlètes</h2>
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
    </tr>
    {{#athleteList}}
    <tr>
        <td><a href="/athlete/ficheathlete/{{id}}">{{firstname}}</a></td>
        <td><a href="/athlete/ficheathlete/{{id}}">{{lastname}}</a></td>

    </tr>
    {{/athleteList}}
</table>
<br>
<table>
    <h2>Sports</h2>
    <tr>
        <th>Nom</th>
        <th>Description</th>
    </tr>
    {{#sportList}}
    <tr>
        <td>{{name}}</td>
        <td>{{description}}</td>
    </tr>
    {{/sportList}}
</table>

</div>

{{> /include/footer}}