{{> /include/header }}
<div class="container">
<form action="register" method="post" novalidate>
    <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}" />
    <input class="form-control" type="text" id="login" name="login" placeholder="login" required>
    <input class="form-control" type="password" id="password" name="password" placeholder="Mot de passe" required>
    <input class="form-control" type="text" id="firstname" name="firstname" placeholder="Prénom" required>
    <input class="form-control" type="text" id="lastname" name="lastname" placeholder="Nom" required>
    <input class="form-control" type="email" id="mail" name="email" placeholder="Email" required>
    <div class="message"></div>

    <button class="btn btn-success " type="submit">Créer l'utilisateur</button>
    <div class="error"></div>
</form>
</div>
{{> /include/footer }}
<script src="/js/message.js"></script>