{{> /include/header}}

<body>
<div class="container mt-5">
    <h2>Liste des Résultats</h2>

    <!-- Barre de recherche -->
    <div class="input-group mb-3">
        <input type="text" id="searchInput" class="form-control" placeholder="Rechercher par pays/athlète">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="searchButton">Rechercher</button>
        </div>
    </div>

    {{#events}}
    <div class="card mt-4">
        <div class="card-header">
            <h2>{{#discipline}}{{#sport}}{{name}} {{/sport}}{{name}}{{/discipline}}</h2>
            <h3>{{description}}</h3>
        </div>
        <div class="card-body">
            <h4>Quotations</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>Pays/athlète</th>
                        <th>Gagnant</th>
                        <th>Quotation</th>
                        <th>Score</th>
                        <th>Rang</th>
                        <th>Number</th>
                        <th>Ordre</th>
                        <th>Date de l'événement</th>
                        <th>Organisation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#quotations}}
                    <tr>
                        <td>
                            {{#participation}}
                            {{#athlete}}
                            {{lastname}}
                            {{/athlete}}
                            {{/participation}}
                            {{#country}}
                            {{name}}
                            {{/country}}
                        </td>
                        <td>{{isWinner}}</td>
                        <td>{{quotation}}</td>
                        <td>{{score}}</td>
                        <td>{{rank}}</td>
                        <td>{{number}}</td>
                        <td>{{order}}</td>
                        <td>{{organization}}</td>
                    </tr>
                    {{/quotations}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{/events}}
</div>

{{> /include/footer}}

<!-- Script pour la barre de recherche -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var searchInput = document.getElementById("searchInput");
        var searchButton = document.getElementById("searchButton");

        searchButton.addEventListener("click", function () {
            performSearch();
        });

        searchInput.addEventListener("input", function () {
            performSearch();
        });

        function performSearch() {
            var searchTerm = searchInput.value.toLowerCase();
            var eventCards = document.querySelectorAll(".card");

            eventCards.forEach(function (eventCard) {
                var countryAthleteElement = eventCard.querySelector("td:first-child");
                var countryAthleteText = countryAthleteElement.innerText.toLowerCase();

                if (countryAthleteText.includes(searchTerm)) {
                    eventCard.style.display = "block";
                } else {
                    eventCard.style.display = "none";
                }
            });
        }
    });
</script>
</body>
