{{> /include/header}}

<body>
<div class="container mt-5">
    <h2>Liste des Résultats</h2>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Gagnant</th>
            <th>Quotation</th>
            <th>Score</th>
            <th>Rang</th>
            <th>Number</th>
            <th>Ordre</th>
            <th>Organisation</th>
        </tr>
        </thead>
        <tbody>
        {{#resultats}}
        <tr>
            <td>{{isWinner}}</td>
            <td>{{quotation}}</td>
            <td>{{score}}</td>
            <td>{{rank}}</td>
            <td>{{number}}</td>
            <td>{{order}}</td>
            <td>{{organization}}</td>
        </tr>
        {{/resultats}}
        </tbody>
    </table>
</div>
</body>

{{> /include/footer}}